<mat-toolbar color="primary">
    <a [routerLink]="''" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu_books</mat-icon>
    </a>
    <span>Portal de exámenes</span>
    <span class="example-spacer"></span>
    
    <ng-container *ngIf="!loginSvc.isLoggedIn()">
        <a [routerLink]="'/login'" class="redirect1" aria-label="Example icon-button with heart icon">Iniciar sesión</a>
        <a [routerLink]="'/signup'" class="redirect2" aria-label="Example icon-button with heart icon">Regístrate</a>
    </ng-container>

    <ng-container *ngIf="loginSvc.isLoggedIn()">
        <a  (click)="logout()" class="redirect1" aria-label="Example icon-button with heart icon">Cerrar sesión</a>
        <span class="container-username" style="cursor: pointer;">
            <div class="inLine"></div>
            <p class="username" routerLink="/admin-dashboard/profile">{{username}}</p>
        </span>
    </ng-container>

    
</mat-toolbar>
