<mat-card style="padding-top: 30px;">
    <h1 class="text-center">Detalles del perfil</h1>
    <mat-card-content>
        <div class="bootstrap-wrapper">
            <div class="container">
                <div class="text-center">
                    <img 
                    src="https://ceslava.s3-accelerate.amazonaws.com/2016/04/mistery-man-gravatar-wordpress-avatar-persona-misteriosa-510x510.png" 
                    alt=""
                    class="profile-image">

                    <h1 class="mt20">{{user.name}} {{user.lastname}}</h1>

                </div>
                <div class="row">
                    <div class="col-md-10 offset-md-1">
                        <table class="table text-center">
                            <tr>
                                <td>Nombre de usuario</td>
                                <td>{{user.username}}</td>
                            </tr>
                            <tr>
                                <td>ID</td>
                                <td>{{user.id}}</td>
                            </tr>
                            <tr>
                                <td>Teléfono</td>
                                <td>{{user.phone}}</td>
                            </tr>
                            <tr>
                                <td>Role</td>
                                <td>{{user.authorities[0].authority}}</td>
                            </tr>
                            <tr>
                                <td>Estado</td>
                                <td>{{user.enabled ? "Activo" : "No activo"}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <mat-card-actions class="container-buttons-profile">
            <button mat-raised-button color="primary">Actualizar</button>
            <button mat-raised-button color="accent">Compartir</button>
        </mat-card-actions>
    </mat-card-content>
</mat-card>
