<mat-card>
    <mat-action-list>
        <div mat-subheader>Menu</div>
        <button routerLink="/user-dashboard" mat-list-item>
            <mat-icon mat-list-icon>home</mat-icon> Inicio
        </button>
        <button mat-list-item>
            <mat-icon mat-list-icon>quiz</mat-icon> Exámenes
        </button>
        <button mat-list-item *ngFor="let category of categories">
            <mat-icon mat-list-icon>account_circle</mat-icon> {{category.title}}
        </button>

    </mat-action-list>
</mat-card>
