<div class="bootstrap-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                <h3>Instrucciones</h3>

            </div>
            <div class="col-md-8">

                <ng-container *ngIf="questions">
                    <h1 class="mt20">En curso <b>{{questions[0].exam.title}}</b></h1>
                </ng-container>

                <mat-card *ngFor="let q of questions; let i= index" class="mb20">
                    <mat-card-content>
                        <p>
                            <b>{{i +1}}) </b>
                            <span [innerHTML]="q.content"></span>
                        </p>
                        <mat-divider></mat-divider>
                        <div class="row mt20">
                            <div class="col-md-7 mt10">
                                <input type="radio" [value]="q.option1" [name]="'group_' + i" [(ngModel)]="q.givenAnswer"> {{q.option1}}
                            </div>
                            <div class="col-md-7 mt10">
                                <input type="radio" [value]="q.option2" [name]="'group_' + i" [(ngModel)]="q.givenAnswer"> {{q.option2}}
                            </div>
                            <div class="col-md-7 mt10">
                                <input type="radio" [value]="q.option3" [name]="'group_' + i" [(ngModel)]="q.givenAnswer"> {{q.option3}}
                            </div>
                            <div class="col-md-7 mt10">
                                <input type="radio" [value]="q.option4" [name]="'group_' + i" [(ngModel)]="q.givenAnswer"> {{q.option4}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                
                            </div>
                            <div class="col-md-6">

                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>

                <div class="container text-center mb20 mt20">
                    <button (click)="sendTest()" mat-raised-button color="primary">Enviar examen</button>
                </div>

            </div>

            <div class="col-md-2">
                <!-- colocal barra de progreso -->
            </div>

        </div>
    </div>
</div>
